/*
    SMILEDINING-SA21-0063     07/10/2021      Customize      1. Add menu Marketing on web owner and Add menu Log on web support.
*/
.searchMarketing{
    position: absolute;
    right: 10px;
    top: 5px;
}

.tab-Marketing {
    margin: -20px 35px 0 35px;
    overflow: hidden;
    white-space: nowrap;
}